@import "../../components/variable";

.page-home {
}

.page-album {
  p {
    display: inline-block;
  }
  img {
    width: 100px;
  }
}

.page-feedback {
  form {
    padding: 20px;
    > div {
      line-height: 25px;
      padding: 5px 0;
      label {
        display: inline-block;
        width: 100px;
      }
      input, textarea, button {
        border: 0;
        margin: 0;
        background: #fff;
        width: 300px;
        height: 20px;
        padding: 5px;
      }
      textarea {
        height: 100px;
        resize: none;
      }
      button {
        margin-top: 30px;
        margin-left: 108px;
        width: 80px;
        height: 25px;
        cursor: pointer;
      }
    }

  }
}
